node_modules
npm-debug.log
bash
.github
.git
.gitignore
.env
.env.*
!.env.example
*.md
!README.md
.vscode
.idea
*.log
coverage
.DS_Store
Dockerfile
.dockerignore
docker-compose.yml
.editorconfig
.prettierrc
.eslintrc
dist
build
tmp
temp